<!-- templates/blog/post_list.html -->
{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Blog Post List</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-3 mb-4">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <img src="{{ post.image.url }}" class="card-img-top img-thumbnail" alt="{{ post.title }}" style="width: 200px; height: 200px;">
                <h5 class="card-title mt-2">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatechars:25 }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Created: {{ post.date_posted }}</small>
            </div>
            <div class="card-footer">
                <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
